// import google font
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import './variables';

@import 'bootstrap/scss/bootstrap.scss';


@import './customTest.scss';


h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 8em;
}
h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.5em;
    color: #4F6977;
}
h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.5em;  
}

h4 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em; 
}
h3.section-title {
    text-align: center;
    color: #fff;
    margin-top: .5em;
    margin-bottom: .5em;
}
h5.section-title {
    color: #fff;
    margin-bottom: 1em;
}
h5 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5em; 
}
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5em; 
}
p {
    color: #c8ebff
}

p.whatILearnedText {
    color: #fff
}

// Navbar
.nav {
    height: 3em;
}
.navBrand {
    font-family: 'Fjalla One', sans-serif;
    padding-right: 2em;
}

.nav-link {
    margin-right: 2em;
}

// Header

#header-div {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 8em;
}
#about {
    height: 6em;
}
.tagLine {
    padding-top: 4em;
    text-align: center;
    color: #c8ebff;
    font-family: 'Fjalla One', sans-serif;
}
.jumpTo {
    padding-top: 3em;
    text-align: center;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
     
}
.jumpTo2 {
    padding-top: 3em;
    padding-bottom: 2em;
    text-align: center;
    color: #fff;
}
.about-row {
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
}
#light-blue-container {
    background-color: #7298AD;
}

#caseStudy-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 6em;
    padding-bottom: 4em;
}
.about-div {
    margin-top: 3em;

}
// //  .work-div {

// //     margin-left: 1em;
//  }
p {
    font-size: 1.2em;
}
#process-container {
    padding-top: 2em;
    padding-bottom: 8em;
    background-color: #4F6977;
}

// Stickman images

 .images {
    display:flex;
    justify-content: center;
 }
.csImages {
    display:flex;
    justify-content: center;
}
.csPenPaperImages {
    display:flex;
    justify-content: center;
}


// .stickmanThumbsUp {
        
//     @media (min-width: 10rem) {
//         width: 4em;
//         height: 9em;
            
//     }
        
//     @media (min-width: 37.5rem) {
//         margin-top: 3em;
//         width: 7em;
//         height: 17em;
//     }
    
//     @media (min-width: 50rem) {
//             margin-top: 3em;
//             width: 30%;
//             height: 60%;
//     }
    
// }
// .stickmanBook {
 

        
//     @media (min-width: 10rem) {
//             width: 5em;
//             height: 10em;
            
//           }
        
//     @media (min-width: 37.5rem) {
//             margin-top: 3em;
//             width: 8rem;
//             height: 17rem;
           
//     }
    
//     @media (min-width: 50rem) {
//             margin-top: 3em;
//             width: 35%;
//             height: 65%;
//     }
    
// }
// .stickmanTelescope {
   

        
//     @media (min-width: 10rem) {
//             margin-top: 1em;
//             width: 30%;
//             height: 50%;
//           }
        
//     @media (min-width: 37.5rem) {
//             margin-top: 3em;
//             width: 8em;
//             height: 10em;
//     }
    
//     @media (min-width: 50rem) {
//             margin-top: 3em;
//             width: 45%;
//             height: 70%;
//     }
    
    
// }
// .stickmanWhiteboard{
   

        
//     @media (min-width: 10rem) {
//             margin-top: 1em;
//             width: 60%;
//             height: 80%;
//           }
        
//     @media (min-width: 37.5rem) {
//             margin-top: 3em;
//             width: 12em;
//             height: 10em;
//     }
    
//     @media (min-width: 50rem) {
//             margin-top: 3em;
//             width: 80%;
//             height: 100%;
//     }
    
    
    
// }
// .stickmanTeam {
   

        
//     @media (min-width: 10rem) {
//             margin-top: 1em;
//             width: 70%;
//             height: 80%;
//           }
        
//     @media (min-width: 37.5rem) {
//             margin-top: 3em;
//             width: 14em;
//             height: 15em;
//     }
    
//     @media (min-width: 50rem) {
//             margin-top: 3em;
//             width: 90%;
//             height: 100%;
//     }
// }
// // .stickmanSign {
   

        
// //     @media (min-width: 10rem) {
// //             margin-top: 1em;
// //             width: 40%;
// //             height: 60%;
// //           }
        
// //     @media (min-width: 37.5rem) {
// //             margin-top: 3em;
// //             width: 30%;
// //             height: 40%;
// //     }
    
// //     @media (min-width: 50rem) {
// //             margin-top: 3em;
// //             width: 60%;
// //             height: 80%;
// //     }
// // }

// Main Page case study images

// .tidyFamHome {
//    height: 20em;
//    width: 24em;
//    transition: 1s;
// }
// .tidyFamHome:hover {
//     transform: scale(1.2);
// }

// Case Study Page Images

.tidyFamHomeCS {
   
justify-content: center;
        
    @media (min-width: 10rem) {
            margin-top: 1em;
            width: 100%;
            height: 80%;
          }
        
    @media (min-width: 37.5rem) {
            width: 100%;
            height: 80%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 46em;
            height: 28em;
            transition: .2s;
            
    }
}
.registrationView {
   

        
    @media (min-width: 10rem) {
            margin-top: 1em;
            width: 20em;
            height: 20em;
          }
        
    @media (min-width: 37.5rem) {
            width: 100%;
            height: 80%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 15em;
            height: 16em;
            transition: .2s;
            
    }
}
.kidView {
   

        
    @media (min-width: 10rem) {
            margin-top: 1em;
            width: 20em;
            height: 20em;
          }
        
    @media (min-width: 37.5rem) {
            width: 100%;
            height: 80%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 15em;
            height: 16em;
            transition: .2s;
            
    }
}
.cardView {
   

        
    @media (min-width: 10rem) {
            margin-top: 1em;
            width: 20em;
            height: 20em;
          }
        
    @media (min-width: 37.5rem) {
            width: 100%;
            height: 80%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 15em;
            height: 16em;
            transition: .2s;
            
    }
}
.tidyFamWhiteboard {
   

        
    @media (min-width: 10rem) {
            margin-top: 1em;
            width: 100%;
            height: 80%;
          }
        
    @media (min-width: 37.5rem) {
            width: 100%;
            height: 80%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 40em;
            height: 32em;
            transition: .2s;
            
    }
}


.registrationView:hover {
    transform: scale(1.5);
}

.kidView:hover {
    transform: scale(1.5);
}
.cardView:hover {
    transform: scale(1.5);
}

// Modals

.modal-content {
    background-color: #7298AD;
}
.modalTitle {
    font-family: 'Fjalla One', sans-serif;
}
.modalBody {
    background-color: #4F6977;
}

// Boxes

.boxBorder {
    height: 80%;
    padding: 1em;
    border: solid 8px #fff;
    
}

.knowledgeBox {
    display: inline-block;
    margin-top: -5em;
    margin-bottom: -2em;
    padding: 2em;
    background-color: #7298AD;
    font-size: 1em;
    color: #fff;
}


