// import google font
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import './variables';

@import 'bootstrap/scss/bootstrap.scss';


@import './customTest.scss';

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 6em;
}

h4 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em; 
}

#header-div {
    display: flex;
    justify-content: center;
    padding-top: 8em;
}

.navBrand {
    font-family: 'Fjalla One', sans-serif;
    padding-right: 2em;
}

.nav-link {
    margin-right: 2em;
}
