// import google font
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import './variables';

@import 'bootstrap/scss/bootstrap.scss';


@import './customTest.scss';


h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 8em;
}
h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.5em;
    color: #4F6977;
}
h3 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.5em;  
}

h4 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3em; 
}
h3.section-title {
    text-align: center;
    color: #fff;
    margin-top: .5em;
    margin-bottom: .5em;
}
h5.section-title {
    color: #fff;
    margin-bottom: 1em;
}
h5 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.5em; 
}
h6 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2em; 
}
p {
    color: #c8ebff
}

p.whatILearnedText {
    color: #fff
}

// Navbar
.nav {
    height: 3em;
}
.navBrand {
    font-family: 'Fjalla One', sans-serif;
    padding-right: 2em;
}

.nav-link {
    margin-right: 2em;
}

// Header

#header-div {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 8em;
}
#about {
    height: 6em;
}
.tagLine {
    padding-top: 4em;
    text-align: center;
    color: #c8ebff;
    font-family: 'Fjalla One', sans-serif;
}
.jumpTo {
    padding-top: 3em;
    text-align: center;
    color: #fff;
    font-family: 'Fjalla One', sans-serif;
     
}
.jumpTo2 {
    padding-top: 3em;
    padding-bottom: 2em;
    text-align: center;
    color: #fff;
}
.about-row {
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
}
#about-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-bottom: 4em;
    background-color: #7298AD;
}
#work-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-bottom: 4em;
    background-color: #7298AD;
}
#caseStudy-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 6em;
    padding-bottom: 4em;
}
.about-div {
    margin-top: 3em;
    margin-left: 1em;
}
.work-div {
    margin-top: 3em;
    margin-left: 1em;
}
p {
    font-size: 1.2em;
}
#process-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-bottom: 8em;
    background-color: #4F6977;
}

// Stickman images

.images {
    display:flex;
    justify-content: left;
}
.csImages {
    display:flex;
    justify-content: center;
}
.csPenPaperImages {
    display:flex;
    justify-content: center;
}


.stickmanThumbsUp {
        
    @media (min-width: 23.4375rem) {
            width: 100%;
            height: 80%;
            
    }
        
    @media (min-width: 37.5rem) {
            width: 10rem;
            height: 22rem;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 8rem;
            height: 18rem;
    }
    
}
.stickmanBook {
 

        
    @media (min-width: 23.4375rem) {
            margin-top: 1em;
            width: 100%;
            height: 80%;
            
          }
        
    @media (min-width: 37.5rem) {
            width: 10rem;
            height: 22rem;
           
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 8rem;
            height: 18rem;
    }
    
}
.stickmanTelescope {
   

        
    @media (min-width: 23.4375rem) {
            margin-top: 1em;
            width: 100%;
            height: 80%;
          }
        
    @media (min-width: 37.5rem) {
            width: 10rem;
            height: 22rem;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 10rem;
            height: 18rem;
    }
    
    
}
.stickmanWhiteboard{
   

        
    @media (min-width: 23.4375rem) {
            margin-top: 1em;
            width: 100%;
            height: 90%;
          }
        
    @media (min-width: 37.5rem) {
        margin-top: 3em;
            width: 10rem;
            height: 16rem;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 16rem;
            height: 19rem;
    }
    
    
    
}
.stickmanTeam {
   

        
    @media (min-width: 23.4375rem) {
            margin-top: 1em;
            width: 100%;
            height: 80%;
          }
        
    @media (min-width: 37.5rem) {
            width: 80%;
            height: 50%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 20rem;
            height: 30rem;
    }
}
.stickmanSign {
   

        
    @media (min-width: 23.4375rem) {
            margin-top: 1em;
            width: 100%;
            height: 80%;
          }
        
    @media (min-width: 37.5rem) {
            width: 100%;
            height: 80%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 13rem;
            height: 20rem;
    }
}
.tidyFamHome {
   

        
    @media (min-width: 23.4375rem) {
            margin-top: 1em;
            width: 100%;
            height: 80%;
          }
        
    @media (min-width: 37.5rem) {
            width: 100%;
            height: 80%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 24rem;
            height: 20rem;
            transition: .2s;
            
    }
}
.tidyFamHomeCS {
   
justify-content: center;
        
    @media (min-width: 23.4375rem) {
            margin-top: 1em;
            width: 100%;
            height: 80%;
          }
        
    @media (min-width: 37.5rem) {
            width: 100%;
            height: 80%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 46em;
            height: 28em;
            transition: .2s;
            
    }
}
.registrationView {
   
margin-right: 1em;
        
    @media (min-width: 23.4375rem) {
            margin-top: 1em;
            width: 100%;
            height: 80%;
          }
        
    @media (min-width: 37.5rem) {
            width: 100%;
            height: 80%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 15em;
            height: 16em;
            transition: .2s;
            
    }
}
.kidView {
   
    margin-right: 1em;
        
    @media (min-width: 23.4375rem) {
            margin-top: 1em;
            width: 100%;
            height: 80%;
          }
        
    @media (min-width: 37.5rem) {
            width: 100%;
            height: 80%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 15em;
            height: 16em;
            transition: .2s;
            
    }
}
.cardView {
   

        
    @media (min-width: 23.4375rem) {
            margin-top: 1em;
            width: 100%;
            height: 80%;
          }
        
    @media (min-width: 37.5rem) {
            width: 100%;
            height: 80%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 15em;
            height: 16em;
            transition: .2s;
            
    }
}
.tidyFamWhiteboard {
   

        
    @media (min-width: 23.4375rem) {
            margin-top: 1em;
            width: 100%;
            height: 80%;
          }
        
    @media (min-width: 37.5rem) {
            width: 100%;
            height: 80%;
    }
    
    @media (min-width: 50rem) {
            margin-top: 3em;
            width: 40em;
            height: 32em;
            transition: .2s;
            
    }
}
.tidyFamHome:hover {
    transform: scale(1.2);
}

.registrationView:hover {
    transform: scale(1.5);
}

.kidView:hover {
    transform: scale(1.5);
}
.cardView:hover {
    transform: scale(1.5);
}

// Modals

.modal-content {
    background-color: #7298AD;
}
.modalTitle {
    font-family: 'Fjalla One', sans-serif;
}
.modalBody {
    background-color: #4F6977;
}

// Boxes

.boxBorder {
    height: 80%;
    padding: 1em;
    border: solid 8px #fff;
    
}

.knowledgeBox {
    display: inline-block;
    margin-top: -5em;
    margin-bottom: -2em;
    padding: 2em;
    background-color: #7298AD;
    font-size: 1em;
    color: #fff;
}


